.imageIcon {
  width: 515px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.home {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 38px;
  cursor: pointer;
}
.menuItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 38px;
  cursor: pointer;
}
.menuItems1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.products {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 57px;
  cursor: pointer;
}
.menuItems2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.contact {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 49px;
  cursor: pointer;
}
.menuItems3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--colour-main-blue-800);
}
.buttonLabel {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  z-index: 1;
}
.elementbuttonsmallfilled,
.infoCardTitleInner,
.menuItemsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.elementbuttonsmallfilled {
  width: 109px;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-size: var(--regular-12-size);
  color: var(--colour-secondary-white-100-general);
}
.infoCardTitleInner,
.menuItemsParent {
  max-width: 100%;
}
.menuItemsParent {
  width: 511px;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-xl);
}
.infoCardTitleInner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 23px;
  color: var(--colour-main-blue-300);
}
.title {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.loremIpsumDolor,
.musDonecQuam {
  display: block;
}
.body {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--medium-16-size);
  line-height: 26px;
  color: var(--colour-main-blue-400);
  flex-shrink: 0;
  debug_commit: 69da668;
}
.textBlocksectionlargetitle {
  width: 695px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 154px 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--medium-36-size);
}
.elementcardinfoCardsmalliIcon {
  height: 36px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.body1,
.elementcardinfoCardsmalliIcon,
.title1 {
  align-self: stretch;
  position: relative;
}
.title1 {
  line-height: 26px;
  font-weight: 500;
}
.body1 {
  margin: 0;
  font-size: var(--regular-12-size);
  line-height: 18px;
  color: var(--colour-main-grey-600);
}
.cardContentPairOne,
.elementcardinfoCardmedium {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardContentPairOne {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.elementcardinfoCardmedium {
  flex: 1;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 211px;
  max-width: 100%;
}
.elementcardinfoCardsmalliIcon1 {
  height: 36px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.body2,
.elementcardinfoCardsmalliIcon1,
.title2 {
  align-self: stretch;
  position: relative;
}
.title2 {
  line-height: 26px;
  font-weight: 500;
}
.body2 {
  margin: 0;
  font-size: var(--regular-12-size);
  line-height: 18px;
  color: var(--colour-main-grey-600);
}
.cardContentPairTwo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.elementcardinfoCardmedium1,
.elementcardinfoCardmediumParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.elementcardinfoCardmedium1 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 211px;
}
.elementcardinfoCardmediumParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.elementcardinfoCardsmalliIcon2 {
  height: 36px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.body3,
.elementcardinfoCardsmalliIcon2,
.title3 {
  align-self: stretch;
  position: relative;
}
.title3 {
  line-height: 26px;
  font-weight: 500;
}
.body3 {
  margin: 0;
  font-size: var(--regular-12-size);
  line-height: 18px;
  color: var(--colour-main-grey-600);
}
.elementcardinfoCardmedium2,
.titleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.titleParent {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.elementcardinfoCardmedium2 {
  flex: 1;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 211px;
  max-width: 100%;
}
.elementcardinfoCardsmalliIcon3 {
  height: 36px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.body4,
.elementcardinfoCardsmalliIcon3,
.title4 {
  align-self: stretch;
  position: relative;
}
.title4 {
  line-height: 26px;
  font-weight: 500;
}
.body4 {
  margin: 0;
  font-size: var(--regular-12-size);
  line-height: 18px;
  color: var(--colour-main-grey-600);
}
.titleGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.elementcardinfoCardmedium3 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 211px;
}
.cards,
.elementcardinfoCardmedium3,
.elementcardinfoCardmediumGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.elementcardinfoCardmediumGroup {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.cards {
  width: 695px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  font-size: var(--medium-16-size);
}
.infoCardTitle {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-41xl);
}
.infoCardTitle,
.infoCardTitleWrapper,
.sectionfeaturesmulti63 {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.infoCardTitleWrapper {
  width: 741px;
  flex-direction: column;
  padding: 31px 0 0;
  box-sizing: border-box;
  min-width: 741px;
}
.sectionfeaturesmulti63 {
  width: 1440px;
  background-color: var(--colour-background-light-grey);
  overflow-y: auto;
  flex-direction: row;
  gap: var(--gap-106xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--regular-14-size);
  color: var(--colour-main-blue-900);
  font-family: var(--regular-12);
}
@media screen and (max-width: 1300px) {
  .imageIcon,
  .infoCardTitleWrapper {
    flex: 1;
  }
  .sectionfeaturesmulti63 {
    flex-wrap: wrap;
    gap: var(--gap-43xl);
  }
}
@media screen and (max-width: 800px) {
  .title {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
  .elementcardinfoCardmediumGroup,
  .elementcardinfoCardmediumParent {
    flex-wrap: wrap;
  }
  .cards {
    gap: var(--gap-xl);
  }
  .infoCardTitle {
    gap: 30px;
  }
  .infoCardTitleWrapper {
    min-width: 100%;
  }
  .sectionfeaturesmulti63 {
    gap: var(--gap-12xl);
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .textBlocksectionlargetitle {
    padding-bottom: 100px;
    box-sizing: border-box;
  }
  .sectionfeaturesmulti63 {
    gap: var(--gap-base);
  }
}
